# dependencies
/node_modules
/.pnp
.pnp.js
.pnp.cjs

# testing
/coverage

# next.js
/.next/
/out/

# environment variables
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode
.idea

# logs
*.log